.zero
{
	border: 1px solid black;
	height: 200px;
	background-color: white;
	border-collapse: collapse;


}
.one
{
	height: 200px;
	width: 420px;
	margin-right: auto;
	margin-left: 200px;
	float: left;
	border-left: 2px solid black;
	border-right: 2px solid black;
}
#head
{
	margin-top: 10px;
	text-shadow: 2px 2px rgb(250,160,160);
}
.imm
{
	height: 163px;
	width: 180px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-transition: width 0.5s height 0.5s;
    transition: width 0.5s height 0.5s;

}
.imm:hover
{
  width: 182px;
  height: 157px;
}
.two
{
	height: 200px;
	width: 210px;
	float: left;
	background-color: rgb(235,235,230);
	border-right: 2px solid black;
}
.three
{
	height: 200px;
	width: 210px;
	float: left;
	background-color: rgb(235,235,230);
	border-right: 2px solid black;
}
.but
{
	margin-bottom: auto;
	margin-top: 65px;
	width: 100px;
	margin-left: 50px;
	-webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color: rgb(180,180,180); }
    to {background-color: rgb(205,202,150);}
}
.pagination {
    display: inline-block;
    margin-left: 450px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}